<!DOCTYPE html>
<html>
<head>
	<title>SignUp/Login Form</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
	<div class="login-box">
		<h2>Login</h2>
		<form method="POST">
			<div class="inputTex">
				<input type="text" name="emailid" required="">
				<label>Email ID:</label>
			</div>
			<div class="inputTex">
				<input type="Password" name="password" required="">
				<label>Password:</label>
			</div>
			<input type="submit" name="submit_button" value="login">
	</div>
		</form>
		

</body>
</html>
